.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.modalWindow {
  width: 400px;
  height: 600px;
  background-color: #f5f5f9;
  border-radius: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  z-index: 3;
}

.modal_notmain {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.modal_notmain button {
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 0px;
  transform: scale(1);
  transition: all 0.3s ease;
  font-weight: 700;
}

.modal_notmain button:active {
  transform: scale(0.99);
  box-shadow: none;
}

.modal_main {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 3px solid gray;
  border-top: 3px solid gray;
  padding: 30px 0px;
}

.modal_main h3 {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}