.register {
  display: block;
  background-color: #5DB7DE;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register h2 {
  color: #fff;
}

.register label {
  display: block;
  margin: 10px 5px;
  color: #fff;
}
.register input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 0px;
}

.register_submit {
  background-color: greenyellow;
  transition: all 0.1s ease;
}

.register_submit:hover {
  transform: scale(1.05);
  background-color: rgb(133, 209, 18);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}