body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 68px;
  background-color: #fff;
}

.hdr_img img {
  width: 80px;
  height: 60px;
  margin-right: 20px;
}

.hdr_nav nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 380px;
  margin-left: 20px;
}

.hdr_nav nav div {
  display: flex;
  justify-content: center;
  gap: 30px
}

@media (max-width: 768px) {
  header {
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
  }

  .hdr_nav nav {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 506px) {
  header {
    height: 240px;
    padding-left: 0px;
  }
  
  .hdr_nav nav {
    gap: 15px;
  }

  .hdr_nav nav div {
    display: flex;
    flex-direction: column;
  }
}

.hdr_nav nav .link {
  display: inline-block;
  font-size: 16px;
  color: #000;
  transition: all 0.1s ease;
}

.hdr_nav nav .link:hover {
  color: #3d348b;
  transform: scale(1.05);
  text-shadow: 1px 1px 2px #f5f5f9;
}

.srvc_grid_block {
  padding: 22px 28px;
  background-color: #3D348B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.srvc_grid_block h4 {
  font-size: 10px;
  color: #fff;
}

.srvc_grid_block h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.we_we_right_side_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5DB7DE;
  padding: 22px 28px;
  border-radius: 20px;
  height: 126px;
  width: 334px;
  margin-top: 22px;
}

.we_we_right_side_block h4 {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}

.we_we_right_side_block h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.news_grid_block1_img {
  background-image: url(./assets/Rectangle_1.png);
  border-radius: 20px;
  width: 228px;
  height: 158px;
}

.news_grid_block2_img {
  background-image: url(./assets/Rectangle_2.png);
  border-radius: 20px;
  width: 228px;
  height: 158px;
}

.news_grid_block3_img {
  background-image: url(./assets/Rectangle_3.png);
  border-radius: 20px;
  width: 228px;
  height: 158px;
}

.news_grid_block4_img {
  background-image: url(./assets/Rectangle_4.png);
  border-radius: 20px;
  width: 228px;
  height: 158px;
}

footer {
  height: 460px;
  margin-top: 150px;
}

.back {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f9;
}

.op_next {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 0px;
  background-color: red;
  transition: all 0.1s ease;
}

.op_next:hover {
  transform: scale(1.05);
  background-color: rgb(206, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_link {
  text-decoration: none;
  font-weight: 700;
}

.main_grid_block, 
.srvc_grid_block, 
.we_we_right_side_video, 
.we_we_right_side_block, 
.news_grid_block1_img, 
.news_grid_block2_img, 
.news_grid_block3_img, 
.news_grid_block4_img,
button {
  transition: all 0.2s ease;
}

.main_grid_block:hover, 
.srvc_grid_block:hover, 
.we_we_right_side_video:hover, 
.we_we_right_side_block:hover, 
.news_grid_block1_img:hover, 
.news_grid_block2_img:hover, 
.news_grid_block3_img:hover, 
.news_grid_block4_img:hover,
button:hover {
  transform: scale(1.025);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* #f5f5f9
#3d348b
#5DB7DE
#5a529c */

.file_btn::-webkit-file-upload-button {
  background-color: #5DB7DE;
  color: #fff;
  border-radius: 5px;
  border-color: #5DB7DE;
  height: 25px;
  font-weight: 700;
}

.vecwork {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.vecwork_circle {
  border-radius: 100%;
  border: 2px solid #fff;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.vecwork_video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  --color-bug: #92bc2c;
  --color-dark: #595761;
  --color-dragon: #0c69c8;
  --color-electric: #f2d94e;
  --color-fairy: #ee90e6;
  --color-fighting: #d3425f;
  --color-fire: #fba54c;
  --color-flying: #a1bbec;
  --color-ghost: #5f6dbc;
  --color-grass: #5fbd58;
  --color-ground: #da7c4d;
  --color-ice: #75d0c1;
  --color-normal: #a0a29f;
  --color-poison: #b763cf;
  --color-psychic: #fa8581;
  --color-rock: #c9bb8a;
  --color-steel: #5695a3;
  --color-water: #539ddf;
}

.bug {
  background-color: var(--color-bug);
  box-shadow: 0 0 15px var(--color-bug);
}

.bug:hover {
  --color-bug: #7bcf00;
  transform: scale(1.2);
}

.dark {
  background-color: var(--color-dark);
  box-shadow: 0 0 15px var(--color-dark);
}

.dark:hover {
  --color-dark: #5a566a;
  transform: scale(1.2);
}

.dragon {
  background-color: var(--color-dragon);
  box-shadow: 0 0 15px var(--color-dragon);
}

.dragon:hover {
  --color-dragon: #0076ff;
  transform: scale(1.2);
}

.electric {
  background-color: var(--color-electric);
  box-shadow: 0 0 15px var(--color-electric);
}

.electric:hover {
  --color-electric: #ffde00;
  transform: scale(1.2);
}

.fairy {
  background-color: var(--color-fairy);
  box-shadow: 0 0 15px var(--color-fairy);
}

.fairy:hover {
  --color-fairy: #ff76ff;
  transform: scale(1.2);
}

.fighting {
  background-color: var(--color-fighting);
  box-shadow: 0 0 15px var(--color-fighting);
}

.fighting:hover {
  --color-fighting: #ff215b;
  transform: scale(1.2);
}

.fire {
  background-color: var(--color-fire);
  box-shadow: 0 0 15px var(--color-fire);
}

.fire:hover {
  --color-fire: #ff9900;
  transform: scale(1.2);
}

.flying {
  background-color: var(--color-flying);
  box-shadow: 0 0 15px var(--color-flying);
}

.flying:hover {
  --color-flying: #89bdff;
  transform: scale(1.2);
}

.ghost {
  background-color: var(--color-ghost);
  box-shadow: 0 0 15px var(--color-ghost);
}

.ghost:hover {
  --color-ghost: #4e6aff;
  transform: scale(1.2);
}

.grass {
  background-color: var(--color-grass);
  box-shadow: 0 0 15px var(--color-grass);
}

.grass:hover {
  --color-grass: #1cd80e;
  transform: scale(1.2);
}

.ground {
  background-color: var(--color-ground);
  box-shadow: 0 0 15px var(--color-ground);
}

.ground:hover {
  --color-ground: #ff6b0d;
  transform: scale(1.2);
}

.ice {
  background-color: var(--color-ice);
  box-shadow: 0 0 15px var(--color-ice);
}

.ice:hover {
  --color-ice: #4bdcc4;
  transform: scale(1.2);
}

.normal {
  background-color: var(--color-normal);
  box-shadow: 0 0 15px var(--color-normal);
}

.normal:hover {
  --color-normal: #9fa39d;
  transform: scale(1.2);
}

.poison {
  background-color: var(--color-poison);
  box-shadow: 0 0 15px var(--color-poison);
}

.poison:hover {
  --color-poison: #f149ff;
  transform: scale(1.2);
}

.psychic {
  background-color: var(--color-psychic);
  box-shadow: 0 0 15px var(--color-psychic);
}

.psychic:hover {
  --color-psychic: #ff6c64;
  transform: scale(1.2);
}

.rock {
  background-color: var(--color-rock);
  box-shadow: 0 0 15px var(--color-rock);
}

.rock:hover {
  --color-rock: #d8bc5a;
  transform: scale(1.2);
}

.steel {
  background-color: var(--color-steel);
  box-shadow: 0 0 15px var(--color-steel);
}

.steel:hover {
  --color-steel: #23a1bd;
  transform: scale(1.2);
}

.water {
  background-color: var(--color-water);
  box-shadow: 0 0 15px var(--color-water);
}

.water:hover {
  --color-water: #14a8ff;
  transform: scale(1.2);
}

.pokemon, .pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.pokedex {
  height: 50px;
  width: 50px;
}

.pokedex svg {
  height: 32px;
  width: 32px;
}